<%- include('cabecera', {titulo: 'Cerrar',usuario:usu}) -%>
<h1 class="header center-align">Sesion cerrada <%= sesion_usuario %></h1>
<h5 class="header center-align">Gracias por participar </h5>
<%- include('pie') -%>