<%- include('cabecera', {titulo: 'Inicio',usuario:usu}) -%>
<div class="section orange lighten-5">
  <div class="container ">
    <br><br>
    <h1 class="header center-align">Incio Blog Enrique</h1>
    <div class="row center-align">
      <a
        href="/inicioSesion"
        class="btn-large waves-effect waves-light orange"
        target="_blank"
        rel="noopener noreferrer"
        >Iniciar sesión</a
      >
    </div>
    <br><br>
  </div>
</div>

<%- include('pie') -%>
