<footer class="page-footer orange lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contenido del Pie</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Inicio</a></li>
          <li><a class="grey-text text-lighten-3" href="/panel">Panel De control</a></li>
          <li><a class="grey-text text-lighten-3" href="#arriba">Subir</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
